/* General styles */
.mat-toolbar {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: #ffffff87;
}

.spacer {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  background-color: #4c7cff
}

.phone-icon {
  cursor: pointer;
  margin-right: 16px; /* Adjust as needed */
}

.phone-number {
  color: inherit; /* Inherit color from parent */
  text-decoration: none;
  font-weight: bolder;
  margin-right: 16px; /* Adjust as needed */
  color: #ffffff;
}

/* Mobile styles */
.mobile-header {
  display: none; /* Hide desktop header on mobile */
}

/* Desktop styles */
.desktop-header {
  display: block; /* Show desktop header by default */
}

/* Center tabs */
.center-tabs .mat-tab-labels {
  justify-content: center; /* Center tabs horizontally */
}

.mat-tab-label {
  font-size: 18px; /* Adjust font size of tabs */
}

.mat-tab-label-content {
  padding: 0 20px; /* Adjust padding of tab labels */
}

// .center-tabs .mat-tab-labels {
//   justify-content: center; /* Center tabs horizontally */
// }

// .mat-tab-label {
//   font-size: 20px; /* Adjust font size of tabs */
//   min-width: auto; /* Allow tabs to adjust their width based on content */
// }

// .mat-tab-label-content {
//   padding: 12px 24px; /* Adjust padding of tab labels */
// }

button {
  position: fixed;
  width: 250px;
  margin-top: 40px;
  background-image: url('../../../../src/assets/flag.jpeg');
  background-size: cover;
  background-position: center;
  font-weight: bold;
  top: 20px; /* Adjust this value to your preference */
  z-index: 20;
  color: rgb(255, 255, 255); /* Set text color to white for visibility */
}
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(55, 55, 55, 0.5); /* Adjust opacity here */
  z-index: -1; /* Ensure the overlay is behind the button content */
}

/* Add additional styling such as padding, border, etc., as needed */


.custom-tab-group .mat-tab-label {
  color: grey; /* or any secondary color you desire */
}


@media (max-width: 768px) {
  .mobile-header {
    display: block; /* Show mobile header on small screens */
  }

  .desktop-header {
    display: none; /* Hide desktop header on small screens */
  }
}

