<div class="header">
  <button mat-fab extended color="primary" (click)="openContactForm()">
    <mat-icon>phone</mat-icon>
    <mat-icon>mail</mat-icon>
    Contact Us Today
  </button>
</div>

<div class="mobile-header">
  <mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <a routerLink="/">Home</a>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <a routerLink="/about">About</a>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <a routerLink="contact">Contact</a>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>

<div class="desktop-header">
  <mat-toolbar style="background-color: #ffff;">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)" class="center-tabs custom-tab-group">
      <mat-tab label="Home" routerLink="/"></mat-tab>
      <mat-tab label="About" routerLink="/about"></mat-tab>
      <mat-tab label="Services" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/service1">Service 1</button>
          <button mat-menu-item routerLink="/service2">Service 2</button>
          <button mat-menu-item routerLink="/service3">Service 3</button>
        </mat-menu>
      </mat-tab>
      <mat-tab label="Contact" routerLink="/contact"></mat-tab>
    </mat-tab-group>
  </mat-toolbar>
</div>

