.container {
    display: flex;
    justify-content: center;
    width: 80%
    /* Set height as per your requirement */
}


.horizontal-line-content {
    width: 50%;
    height: 15px;
    background-color: rgb(47, 97, 205);
    border-radius: 50px;
    margin: 50px;
}

.excellence {
    display: flex;
    flex-direction: coloumn;
}

.review-section {
    display: flex;
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this line */
    text-align: center; /* Center text horizontally */
}


.sub-container {
    display: flex;
    background-color: #ffffff;
    justify-content: center; /* Align children to the start */
    align-items: center;
    flex-direction: column;
     width: 100%; /* Adjust width */
    border-radius: 40px;
    padding: 20px; /* Add padding */
}



.review-component {
    margin-right: 20px; /* Adjust spacing between review component and text */
}

