<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <!-- Left side content: logo, phone number, copyright -->
        <div class="left-content">
          <img src="../../../../../src/assets/TopNotch Excavating.jpg" alt="Logo">
          <p>Phone: 123-456-7890</p>
          <p>&copy; 2024 Your Company</p>
        </div>
        <!-- Right side content: social media icons -->
        <div class="right-content">
          <ul class="social-icons">
            <li><a href="#"><img src="facebook-icon.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="twitter-icon.png" alt="Twitter"></a></li>
            <li><a href="#"><img src="instagram-icon.png" alt="Instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  