.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.horizontal-line {
    width: 85%;
    height: 2px;
    background-color: rgba(180, 178, 178, 0.601);
    margin: 50px;
}

.image-content-section-container {
    width: 65%;
}
/* Adjust styles for app-image-header and app-content-text-section as needed */
