.box-row {
    display: flex;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: rgb(84, 84, 84);
  }
  
  .box {
    position: relative;
    width: 20%; /* Adjust width of each box */
    height: 300px; /* Set height of boxes */
    overflow: hidden;
    cursor: pointer;
    transition: width 0.3s ease;
    border-radius: 20px;
  }
  
  .box img {
    border-radius: 20px;
    margin: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease;
  }
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
  }
  
  .box:hover {
    width: 25%; /* Expand box on hover */
  }
  
  .box:hover .overlay {
    opacity: 1; /* Show overlay on hover */
  }
  
  .box:hover .title {
    opacity: 1; /* Show title on hover */
  }
  