<div class="home-container">
  <div class="background-image">
      <!-- Your image goes here -->
      <img src="../../../../assets/exc3.jpeg" alt="Background Image">
      <!-- Dark overlay -->
      <div class="dark-overlay"></div>
  </div>
  <div class="content-container">
      <div class="text-content">
          <!-- H1 -->
          <h1>From Earth to Eden <br/> Your Vision <br/>Our Expertise</h1>
          <!-- Buttons -->
          <button mat-fab extended color="info">
            <mat-icon>phone</mat-icon>
            <mat-icon>mail</mat-icon>
             Schedule Us Today
          </button>
      </div>
  </div>
</div>
