<div class="home-container">
  <div class="background-image">
      <!-- Your image goes here -->
      <img src="../../../../assets/bob.jpeg" alt="Background Image">
      <!-- Dark overlay -->
      <div class="dark-overlay"></div>
  </div>
  <div class="content-container">
      <div class="text-content">
        <img src="../../../../assets/TN2.jpeg" alt="Logo Image" class="logo-image">
          <!-- H1 -->
          <h1>From Earth to Eden <br/> Your Vision <br/>Our Mission</h1>
          <!-- Buttons -->
          <button mat-fab extended>
            <mat-icon>phone</mat-icon>
            <mat-icon>mail</mat-icon>
             Schedule Us Today
          </button>
      </div>
  </div>
</div>
