.home-container {
  position: relative;
  display: flex;
}

.background-image {
  width: 70%;
  position: relative;
  overflow: hidden;
}

.background-image img {
  width: 100%;
  max-height: 60vh; /* Adjust the maximum height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.5); /* Adjust opacity here */
}

.content-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3c3c3;
}

.text-content {
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 2.5em;
}

.buttons {
  margin-top: 20px;
}

.buttons, button{
  margin: 20px;
  border-radius: 20px;
}


.buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
